<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>search</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="shortcut icon" href="#">
</head>

<body>
    <h1>Trending Movies and tv shows</h1>
    <form id="searchContainer" action="/search" method="get">
        <input type="text" name="q" placeholder="Search for a movie or TV show">
        <button type="submit">
            <img id="search" src="https://static-00.iconduck.com/assets.00/search-icon-2044x2048-psdrpqwp.png"
                alt="search">
        </button>
    </form>
    <div class="navContainer">
        <a href="/series">
            <button id="series">Series</button>
        </a>
        <a href="/movies">
            <button id="movies">Movies</button>
        </a>
        <a href="/all">
            <button id="all">All
            </button>
        </a>
    </div>
    <div id="list">
        <% results.forEach(result=> { %>
            <a href="/info/<%=result.media_type%>/<%= result.id %>">
                <div class="movie">
                    <img src="https://image.tmdb.org/t/p/w500<%= result.poster_path %>" alt="movie poster">
                </div>
            </a>
            <% }); %>
    </div>

    <script src="/scripts/server.js"></script>
    <script src="/scripts/main.js"></script>
</body>

</html>